{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "editorconfig": true,
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none"
}
